### This script needs following files: 
#### county_data.csv, Oxygen_1p.csv, tb_1p.csv, temp_1p.csv, ph_1p.csv

In [1]:
import pandas as pd
import numpy as np
import pickle
from geopy.geocoders import Nominatim

### 1. Find county for every record of water quality

In [2]:
geolocator = Nominatim()

In [3]:
def f(x):
    """
    This function finds county name for all coordinates, using with dataframe.apply() in later scripts
    x: pandas dataframe of four water quality indicators
    output: county name for each coordinater
    """
    la = x['Latitude']
    lo = x['Longitude']
    loc_marker = str(la)+str(lo)
    
    if loc_marker in loc_dict.keys():
        output = loc_dict[loc_marker]

    else:   
        str1 = str(la) + ', ' + str(lo)
        location = geolocator.reverse(str1)
        if 'county' in location.raw['address'].keys():
            c = location.raw['address']['county']
            c2 = c.encode('ascii', 'ignore')
            loc_dict[loc_marker]=c2
            if len(loc_dict) % 10 == 0:
                print len(loc_dict)
            output = c2
        else:
            output = 'no county'
        # print output

    return output

In [4]:
with open("loc_dict_4.pickle", "rb") as handle: # this pickle file contains the mapping from coordinates to counties generated by using geopy's API
    loc_dict = pickle.load(handle)

#### load data(truncated to one decimal)

In [5]:
oxy_1p = pd.read_csv('Oxygen_1p.csv')
ph_1p = pd.read_csv('ph_1p.csv')
temp_1p = pd.read_csv('temp_1p.csv')
tb_1p = pd.read_csv('tb_1p.csv')

#### find county name for every row

In [6]:
oxy_1p['county'] = oxy_1p.apply(f, axis=1)
ph_1p['county'] = ph_1p.apply(f, axis=1)
tb_1p['county'] = tb_1p.apply(f, axis=1)
temp_1p['county'] = temp_1p.apply(f, axis=1)

#### save updated data to file

In [7]:
oxy_1p.to_csv('oxy_1p_county.csv')
ph_1p.to_csv('ph_1p_county.csv')
tb_1p.to_csv('tb_1p_county.csv')
temp_1p.to_csv('temp_1p_county.csv')

### 2. Clean and group water quality data in every county

In [8]:
# load county data
county = pd.read_csv('county_data.csv')
s = county['county'].unique()
county_list = list(s)

In [9]:
def rchop(string, ending):
    """
    This function removes a specific substring from a given string
    string: a given string
    ending: the target substring to remove
    
    output: 
    string: updated string
    """
    if string.endswith(ending):
        return string[:-len(ending)]
    return string

#### clean and group all oxygen data in every county

In [10]:
oxy = pd.read_csv('oxy_1p_county.csv')
oxy['county'] = oxy['county'].map(lambda x: rchop(x, ' County'))
oxy2 = oxy[oxy.county.isin(county_list)]
oxy3 = oxy2[['Result', 'county', 'Year']]
oxy_median_county_year = oxy3.groupby(['county', 'Year']).median().add_prefix('median_oxy_')
oxy_c = oxy2[['Result', 'county']]
oxy_median_county = oxy_c.groupby(['county']).median().add_prefix('median_oxy_').reset_index()
oxy_median_county_year.to_csv('oxy_median_county_year.csv')
oxy_median_county.to_csv('oxy_median_county.csv')

#### clean and group all pH data in every county

In [11]:
ph = pd.read_csv('ph_1p_county.csv')
ph['county'] = ph['county'].map(lambda x: rchop(x, ' County'))
ph2 = ph[ph.county.isin(county_list)]
ph3 = ph2[['Result', 'county', 'Year']]
ph_median_county_year = ph3.groupby(['county', 'Year']).median().add_prefix('median_ph_')
ph_c = ph2[['Result', 'county']]
ph_median_county = ph_c.groupby(['county']).median().add_prefix('median_ph_').reset_index()
ph_median_county_year.to_csv('ph_median_county_year.csv')
ph_median_county.to_csv('ph_median_county.csv')

#### clean and group all temperature data in every county

In [12]:
temp = pd.read_csv('temp_1p_county.csv')
temp['county'] = temp['county'].map(lambda x: rchop(x, ' County'))
temp2 = temp[temp.county.isin(county_list)]
temp3 = temp2[['Result', 'county', 'Year']]
temp_median_county_year = temp3.groupby(['county', 'Year']).median().add_prefix('median_temp_')
temp_c = temp2[['Result', 'county']]
temp_median_county = temp_c.groupby(['county']).median().add_prefix('median_temp_').reset_index()
temp_median_county_year.to_csv('temp_median_county_year.csv')
temp_median_county.to_csv('temp_median_county.csv')

#### clean and group all turbidity data in every county

In [13]:
tb = pd.read_csv('tb_1p_county.csv')
tb['county'] = tb['county'].map(lambda x: rchop(x, ' County'))
tb2 = tb[tb.county.isin(county_list)]
tb3 = tb2[['Result', 'county', 'Year']]
tb_median_county_year = tb3.groupby(['county', 'Year']).median().add_prefix('median_tb_')
tb_c = tb2[['Result', 'county']]
tb_median_county = tb_c.groupby(['county']).median().add_prefix('median_tb_').reset_index()
tb_median_county_year.to_csv('tb_median_county_year.csv')
tb_median_county.to_csv('tb_median_county.csv')

### 3. Merge all water quality data to one file

In [14]:
county_data = pd.read_csv('county_data.csv')
county_popden = county_data[['county', 'popu_density']]

In [15]:
oxy_median_county = pd.read_csv('oxy_median_county.csv')
ph_median_county = pd.read_csv('ph_median_county.csv')
tb_median_county = pd.read_csv('tb_median_county.csv')
temp_median_county = pd.read_csv('temp_median_county.csv')

#### merger water quality data files one by one

In [16]:
pop_oxy = pd.merge(county_popden, oxy_median_county, on='county', how='outer')
pop_oxy_tb = pd.merge(pop_oxy, tb_median_county, on='county', how='outer')
pop_oxy_tb_ph = pd.merge(pop_oxy_tb, ph_median_county, on='county', how='outer')
pop_oxy_tb_ph_temp = pd.merge(pop_oxy_tb_ph, temp_median_county, on='county', how='outer')
county_full = pop_oxy_tb_ph_temp[['county', 'popu_density', 'median_oxy_Result', 'median_tb_Result', 'median_ph_Result', 'median_temp_Result']]

In [17]:
county_full.to_csv('county_full.csv')

In [18]:
county_full

,county,popu_density,median_oxy_Result,median_tb_Result,median_ph_Result,median_temp_Result
0,Alameda,1940.667389,9.020,4.400,7.780000,17.800
1,Alpine,1.486754,9.030,1.150,7.900000,8.900
2,Amador,61.865753,8.110,0.785,7.465000,15.000
3,Butte,133.178936,8.670,4.045,7.650000,16.400
4,Calaveras,43.487202,9.215,0.970,7.610000,15.300
5,Colusa,18.546337,8.020,25.850,7.910000,20.670
6,Contra Costa,1373.829128,9.340,8.700,7.740000,17.055
7,Del Norte,22.607107,11.950,1.400,7.940000,12.500
8,El Dorado,102.431697,8.380,4.985,7.550000,16.000
9,Fresno,159.472589,9.450,1.170,7.240000,14.600
10,Glenn,21.083161,8.915,6.900,7.850000,15.700
11,Humboldt,33.383672,12.260,0.940,8.160000,20.410
12,Imperial,39.824144,13.295,60.200,7.850000,21.580
13,Inyo,1.787563,12.100,1.085,7.810000,13.000
14,Kern,106.267084,8.225,20.300,7.820000,21.050
15,Kings,108.385432,8.610,6.160,7.270000,18.500
16,Lake,48.275596,9.410,0.700,7.865000,17.150
17,Lassen,6.886239,12.270,4.575,8.335000,13.900
18,Los Angeles,2109.371107,7.995,2.580,8.100000,17.800
19,Madera,71.225719,9.270,1.570,7.060000,16.200
20,Marin,312.250066,9.970,4.020,7.370000,14.480
21,Mariposa,12.188117,6.500,9.090,7.570000,14.445
22,Mendocino,22.561106,12.460,0.820,7.760000,15.240
23,Merced,134.046308,9.290,25.000,7.900000,18.890
24,Modoc,2.190374,8.405,5.300,7.940000,11.450
25,Mono,4.512970,10.400,1.570,8.100000,11.500
26,Monterey,113.679162,14.875,39.150,8.020000,17.500
27,Napa,177.366365,10.900,1.920,7.860000,15.910
28,Nevada,101.312671,8.700,1.320,7.775000,14.120
29,Orange,3288.160928,7.290,14.000,8.010000,13.170
30,Placer,245.125280,8.400,3.890,7.600000,14.500
31,Plumas,7.299235,8.480,3.300,7.700000,15.100
32,Riverside,316.234044,6.600,10.715,8.203333,18.390
33,Sacramento,1478.901095,9.100,4.180,7.500000,18.470
34,San Benito,41.488413,18.970,27.400,8.100000,18.290
35,San Bernardino,104.359329,9.460,3.470,8.100000,17.850
36,San Diego,713.713565,8.710,2.450,7.900000,18.680
37,San Francisco,3651.399370,NaN,NaN,NaN,NaN
38,San Joaquin,499.877574,7.400,14.000,7.460000,18.500
39,San Luis Obispo,76.607732,15.510,2.010,8.040000,16.115
40,San Mateo,1013.199833,10.880,2.700,7.580000,14.200
41,Santa Barbara,115.323547,20.000,4.340,7.910000,17.690
42,Santa Clara,1437.141250,10.735,11.500,7.940000,15.800
43,Santa Cruz,444.577478,13.655,4.670,7.965000,16.100
44,Shasta,46.372651,10.000,2.710,7.900000,14.900
45,Sierra,3.164532,9.000,0.740,8.000000,15.135
46,Siskiyou,6.917405,10.940,2.300,8.150000,13.250
47,Solano,472.225147,9.550,17.000,7.770000,16.130
48,Sonoma,280.494882,10.950,4.250,7.850000,18.370
49,Stanislaus,349.307334,7.960,17.000,7.760000,17.490
50,Sutter,156.353883,7.855,11.700,7.690000,20.300
51,Tehama,21.367898,10.100,1.975,7.915000,14.050
52,Trinity,4.134155,12.880,0.490,8.005000,13.590
53,Tulare,93.896803,9.280,1.370,7.835000,16.600
54,Tuolumne,23.837502,8.495,1.440,7.800000,17.700
55,Ventura,380.972701,15.375,1.580,7.850000,17.400
56,Yolo,204.216934,7.300,24.400,7.820000,21.500
57,Yuba,114.775853,8.420,6.710,7.680000,18.700